#addGroupPopover >tbody >tr >th {
	color:#50575F;
	background: none repeat scroll 0% 0% #F5F5F5;
	padding: 6px;
	font-weight: bold;
	margin-right:8px;
	vertical-align: top;
	line-height: 24px;
}
#addGroupPopover >tbody >tr >td >div{
	margin-left: 5px;
	background-color: #FFF;
}

#editGroupPopover >tbody >tr >th {
	color:#50575F;
	background: none repeat scroll 0% 0% #F5F5F5;
	padding: 6px;
	font-weight: bold;
	margin-right:8px;
	vertical-align: top;
	line-height: 24px;
}
#editGroupPopover >tbody >tr >td >div{
	margin-left: 5px;
	background-color: #FFF;
}

#contentPanel {
	position: absolute;
	left: 250px;
	top: 100px;
	/*height: 400px;*/
	width:600px;
	/*display: none;*/
}

.content_textarea {
	width: 300px;
	height: 500px;
}

#label_command {
	display: block;
}
#command_info {
	width: 60%;
	display: inline-block;
}
#command_result{
	height:400px;
}

