<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/css/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="/static/css/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/static/css/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/static/css/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/static/css/styles/home.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/kendo.all.min.js"></script>
    <script src="/static/js/headerBar.js"></script>
    <script src="/static/js/treeView.js"></script>
</head>

<body>
    <div id="content" style="position:relative;height:auto;min-height:100%">
        <div id="header">
                 &nbsp;&nbsp;<a href="/" title="FreeNAS"><img src="/static/images/freenas-logo.png"></a></div><br/>

                 <div style="width:80px;float:left;margin:0px 0px 0px 20px" onclick="openSystem()">
                     &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/system.png" /><br/>
                     <span>System</span>
                 </div>
                 <div id="headerBarLeft">
                    &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/network.png" /><br/>
                     <span>Network</span>
                 </div>
                 <div id="headerBarLeft">
                    &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/storage.png" /><br/>
                     <span>Storage</span>
                 </div>
                 <div id="headerBarLeft">
                    &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/sharing.png" /><br/>
                     <span>Sharing</span>
                 </div>
                 <div id="headerBarLeft">
                    &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/services.png" /><br/>
                     <span>Services</span>
                 </div>
                 <div id="headerBarLeft">
                    &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/plugins.png" /><br/>
                     <span>Plugins</span>
                 </div>
                 <div id="headerBarLeft">
                    <img src="/static/css/content/web/treeview/menu/jails.png" /><br/>
                     <span>Jails</span>
                 </div>
                 <div id="headerBarLeft">
                    &nbsp;&nbsp;&nbsp;<img src="/static/css/content/web/treeview/menu/reporting.png" /><br/>
                     <span>Reporting</span>
                 </div>


                <div id="headerBarRight">
                    &nbsp;&nbsp;&nbsp;<img src="/static/images/ui/menu/alerts/ok.png" /><br/>&nbsp;&nbsp;
                    <span>Alert</span>
                </div>
                <div id="headerBarRight">
                    &nbsp;&nbsp;&nbsp;<img src="/static/images/ui/menu/logout.png" /><br/>
                    <span>Log Out</span>
                </div>
                <div id="headerBarRight">
                    &nbsp;&nbsp;&nbsp;<img src="/static/images/ui/menu/help.png" /><br/>&nbsp;&nbsp;
                    <span>Help</span>
                </div>
                <div id="headerBarRight">
                    &nbsp;&nbsp;&nbsp;<img src="/static/images/ui/menu/account.png" /><br/>
                     <span>Account</span>
                </div><br/><br/><br/>

        <div id="content" style="width:100%;height:720px;">
        <div id="example" style="width:16%;height:650px;float:left;overflow-y:scroll;">
                    <div id="narTree" ></div>
                <script>
                    $("#narTree").kendoTreeView(
                            {
                                dataSource: [
                                {
                                    text: "Account", imageUrl: "/static/css/content/web/treeview/account.png",
                                    items: [
                                                { text: "Groups", imageUrl: "/static/css/content/web/treeview/groups.png",
                                                    items:[
                                                        {text:"Add Group",imageUrl:"/static/css/content/web/treeview/add_groups.png"},
                                                        {text:"View Groups",imageUrl:"/static/css/content/web/treeview/view_all_groups.png"},
                                                    ]
                                                },
                                                { text: "Users", imageUrl: "/static/css/content/web/treeview/users.png" ,
                                                    items:[
                                                            {text:"Add User",imageUrl:"/static/css/content/web/treeview/add_users.png"},
                                                            {text:"View Users",imageUrl:"/static/css/content/web/treeview/view_all_users.png"},
                                                        ]

                                                },
                                            ]
                                },
                                {
                                    text: "System", imageUrl: "/static/css/content/web/treeview/system.png"
                                },
                                {
                                    text: "Network", expanded: true, imageUrl: "/static/css/content/web/treeview/network.png",
                                    items: [
                                        { text: "Categorized Mail", imageUrl: "/static/css/content/web/treeview/search.png" },
                                        { text: "Large Mail", imageUrl: "/static/css/content/web/treeview/search.png" },
                                        { text: "Unread Mail", imageUrl: "/static/css/content/web/treeview/search.png" }
                                    ]
                                },
                                 {
                                    text: "Storage", imageUrl: "/static/css/content/web/treeview/storage.png"
                                 },
                                {
                                    text: "Sharing", imageUrl: "/static/css/content/web/treeview/sharing.png"
                                },
                                {
                                    text: "Services", imageUrl: "/static/css/content/web/treeview/services.png"
                                },
                                {
                                    text: "Jails", imageUrl: "/static/css/content/web/treeview/jail.png"
                                },
                                {
                                    text: "Reporting", imageUrl: "/static/css/content/web/treeview/reporting.png"
                                },
                                {
                                    text: "Display System Processes", imageUrl: "/static/css/content/web/treeview/display_system_processes.png"
                                },
                                {
                                    text: "Shell", imageUrl: "/static/css/content/web/treeview/16x16_shell.png"
                                },
                                {
                                    text: "Reboot", imageUrl: "/static/css/content/web/treeview/reboot.png"
                                },
                                {
                                    text: "Shutdown", imageUrl: "/static/css/content/web/treeview/shutdown.png"
                                }
                            ],
                         select: handleSelectedEvent
                    });



                </script>
            </div>

        <div id="contentInfo"></br>
            <div id="tab" style="margin-left:250px;">
                <div class="tabList">
	                <ul>
		                <li class="cur" style="float:left;list-style-type: none">Setting</li>
		                <li style="float:left;list-style-type: none;">System information</li>
	                </ul>
                </div>
                <div class="tabCon" style="margin-left: 40px">
                    <div class="cur">hostname</div>
                    <div>System information</div>
                 </div>
            </div>

        </div>
        </div>

         <div id="footer">
            <br/>
            <br/>
            <div style="float:right;">
                <img src="/static/images/ui/bottom/ix_logo.png" border="0" alt="iXsystems, Inc."/>
            </div>
            <div id="footerPane" style="float:left;">
                FreeNAS&reg; &copy; 2015 <a href="http://www.ixsystems.com" target="_blank" title="iXsystems, Inc.">iXsystems, Inc.</a>
            </div>
        </div>
    </div>
</body>
</html>